<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adiciona</title>
</head>
<ul>
    <li><a href="/add">Adiciona</a></li>
    <li><a href="/">Listar</a></li>
</ul>
<br>
<body>
    <form method="POST">
        Nome: <input type="text" name="txtNome" placeholder="Nome"><br>
        Email: <input type="email" name="txtEmail" placeholder="Email"><br>
        Senha: <input type="password" name="txtSenha" placeholder="Senha"><br>
        Foto: <input type="file" name="txtFoto">
        <input type="submit" name="Adicionar">
    </form>
</body>
</html>